<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Главная</title>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width">
        <link rel="stylesheet" href="./main.css">
    </head>
    <body>
        <form method="POST">
        <div class="container">
            <a class="custom-btn btn-5" id="stat" style="margin-top: 20px;">Посмотреть статистику</a>
            <input id="num" type="number">
            <a class="custom-btn btn-5" id="write">Записать</a>
            <button class="custom-btn btn-5" type="submit" id="submit">Отправить</button>
            <a class="custom-btn btn-5" id="delete">Стереть последнее</a>
            <div class="texts" id="info">Записано: </div>
        </div>
        </form>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="./view.js"></script>
</html>