<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Статистика</title>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width">
        <link rel="stylesheet" href="./main.css">
    </head>
    <body>
        <div class="texts">Для десятиричной системы счисления:</div>
        <div class="texts" id="DecOutput"></div>
        <div class="texts">Для шестнадцетеричной системы счисления:</div>
        <div class="texts" id="HexOutput"></div>
    </body>
    <script src="./statistics.js"></script>
</html>